@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html,

body {
    height: 80%;
    width: 80%;
    margin-left: 18pc;
    padding-bottom: 5pc;
    background-color: rgb(239, 234, 234);
    font-family: 'Roboto', sans-serif;

}

.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid rgb(28, 26, 26);
    border-radius: 9px;
    cursor: pointer;
    background-color: rgb(221, 227, 227);
}

.row {
    margin: 8px 0;
    font-size: 50%;
}

.row input {
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(24, 23, 23);
    border-radius: 5px;
}

.text-center {
    text-align: center;
    color: rgb(125, 10, 178);
    font-size: 2pc;
}

.bg-red {
    background: red;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}